:root {
  --primary-color: #fc709b;
  --secondary-color: #43377a;
  --paragraph-color: #272044;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.container {
  font-family: "Manrope", sans-serif;
  padding: 30px;
}
h1 {
  color: var(--secondary-color);
  font-size: 48px;
  margin: 0%;
  text-align: center;
}
h2 {
  color: var(--primary-color);
  margin: 0%;
  text-align: center;
}
.lrg-heading {
  font-size: 96px;
  font-weight: 900;
  text-align: center;
}
.sub-heading {
  text-align: start;
}
.homepage-text,
.about-text {
  font-size: 20px;
  color: var(--paragraph-color);
}
.image {
  box-shadow: var(--box-shadow);
}
.links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.contact-link,
.sewing-link,
.dog-link {
  margin: 20px;
  padding: 20px 15px;
  color: white;
  background-color: var(--secondary-color);
  text-decoration: none;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.about-link,
.weather-link {
  margin: 20px;
  padding: 20px 15px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: white;
  text-decoration: none;
  border-radius: 4px;
}
.text-columns {
  display: flex;
  margin: 30px 0;
}
.text-columns p {
  margin: 10px;
  background: rgb(190, 229, 253);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.contact {
  font-size: 48px;
  margin: 0%;
}
.email-link {
  font-size: 28px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
